.Work {
    /* background-color: blue; */
    background-color: rgba(233, 233, 233, 0.836);
    height: 750px;
    text-align:left;
    left: 50px;
    /* display: inline; */
}

.Work .title {
    position: relative;
    left: 280px;
    font-weight: bold;
    /* font: bold; */
    font-size: 25px;
}

.one_work {
    /* background-color: orange; */
    /* background-color: rgba(233, 233, 233, 0.836); */
    height: 280px;
}

.Work .company_name {
    position: relative;
    left: 280px;
    font-size: 20px;
    font-weight: bold;
}

.Work .one_work .description .position .date {
    position: relative;
    left: 440px;
    top: -24px;
    
}

.Work .position {
    position: relative;
    left: 280px;
    font-size: 20px;
    display: inline;
}

.Work .job_description {
    position: relative;
    width: 680px;
    left: 280px;
    font-size: 18px;
    line-height: 30px;

}

.Work .Google_picture {
    position: relative;
    float: right;
    right: 280px;
    top: -100px;
}

.Work .GS_picture {
    position: relative;
    float: right;
    right: 300px;
    top: -250px;
    background-color: rgba(233, 233, 233, 0.836);
}